
@keyframes homebackground {
    0% {fill: rgb(224, 33, 33); width: 100%; height: 100%;}
    100% {fill: rgb(0, 174, 255); width: 50%; height: 50%; left:25%; top: 25%;}
}

@keyframes open-resume {
    100% {    
        height: 80%;
        width: 80%;
        left: 10%;
    }
}

@keyframes open-resume-text {
    100% {    width: 100px;
        height: 100px;}
}



@media screen and (max-device-width: 900px) {
    /* input {
        width: 100%;
        line-height: 2em;
    } */

    body .homepageh2 {
        font-size: 3em;
        
    }

    body #home-wrapper {
        top: 140px;
        right: 34px;
    }

    nav a {
        font-size: 2em;
    }

}


@media (max-width: 550px) {

    body .blog-article {
        width: 512px;
    }

    body article {
        width: 354px;
        box-sizing: content-box;
        left: 69px;
    }

    body .about-section {
        width: 500px;
    }

    input {
        width: 350px;
    }

    label {
        width: 350px;
    }

    nav {
        width: 550px;
    }

    .navbar-wrapper {
        width:550px;
    }

    h1 {
        width:550px;
    }

    #resume-button {
        width: 500px;
    }
}

@media (min-width: 550px) {
    body .input-container {
        width: 350px;
        position: relative;
        left: 50%;        
    }

    .inner-input {
        position: relative;
        right: 275px;
    }
}





body {
    /* color:#dfd3e0; */
    font-family: 'Cantarell', sans-serif;
    text-align: center;
    margin: 0;
    padding-top: 100px;
    min-height: 100%;
    box-sizing: border-box;
}

a {
    color:#dfd3e0;
    font-family: 'Cantarell', sans-serif;
    margin: 0;
}

i {
    margin: 30px;
}


button {
    border: none;
    color: rgb(202, 124, 185);
    padding: 10px;
}

nav a {

    text-decoration: none;
    margin: 30px;
}

h1 {
    margin-bottom: 30px;
    display: block;
    letter-spacing: 24px;
    text-align: center;
}

h2 {
    font-size: 0.5em;
}

h4 {
    font-size: 0.9em;
}

nav {
    width: 100%;
    display: inline;
    text-align: center;
}

li {
    list-style: none;
    display: inline;
}

.blog-article {
    background-color: lightgray;
    position: relative;
    box-sizing: border-box;
    /* width:600px; */
    width: 75%;
    left: 12.5%;
    margin: 60px 0 60px;
    padding: 30px;
}

article h2 {
    font-size: 3em;
    color: black;
    font-family: 'Cantarell', sans-serif;
}

article p {
    padding: 30px;
    font-family: 'Cantarell', sans-serif;
}


img {
    width: 100%;
}

label {
    /* display: inline-block; */
}
input {
    display: inline-block;
}

span {
    position: relative;
    left: 5%;
}

text {
    /* color:#dfd3e0; */
    fill: red;
    font-family: 'Cantarell', sans-serif;
    position: absolute;
    top: 100px;
    z-index: 1;
}

form {
    padding-bottom: 90px;
}



.capital {
    position: relative;
    display: inline-block;
    /* float: left; */
    transform: translate(100%,0) scale(9,1.5);
    z-index: -1;
    color: rgb(255, 98, 98);
    /* transform:scale(4,1); */
}


.navbar-wrapper {
    margin: 0 0 100px 0px;
}

.projects-wrapper {
    margin: 100px 0 100px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.about-section {
    box-sizing: border-box;
    width: 100%;
    background-color: lightgray;
    /* background-image: url("/images/pig\ background\ progress.jpg"); */
    /* background-repeat: no-repeat; */
    background-size: 50% 50%;
    padding: 50% 20% 50%;
    font-size: 50px;
    font-family: 'Goldman';
    margin: 0;
}


#home-background {
    background-color: lightslategrey;
    height: 100%;
}

.svg-background {
    animation-name: homebackground;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left:0;
    z-index: -2;
}

.background-2 {
    height: 100%;
}



#home-circle {
    animation-name: homebackground;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
    /* transform: scale(0.5); */
}

#home-wrapper {
    position: relative;
    right: 13px;
}


#resume-svg {
    position: relative;
}

#resume-button {
    padding: 30px;
    height: 100px;
}

#clipping-svg {
    position: absolute;
    width: 0;
}



#resume-txt {
    color: red;
    width: 100%;
    height: 1em;
}

.background-2 {
    top: 0;
    left:0;
    fill: white;
    position: absolute;
    z-index: -3;
    width: 100%;

}

.background-path {
    width: 100%;
    height: 10%;
}


.homepageh2 {
    color:#f5bfbf;
    font-family: 'Cantarell', sans-serif;
    font-size: 1.2em;
    /* text-align: center; */
    /* width: 0%; */
    /* height: 0%; */
    position: relative;
    margin: 0;
    left: 50%;
    top: 40px;
    text-orientation: upright;
    writing-mode: vertical-rl;
    white-space: nowrap;
}


.links {
    padding: 140px;
    font-size: 1.5em;
    text-decoration: none;
}

#icon-list {
    margin: 90px;
}

.project-img {
    clip-path: url(#myClip);
    width: 400px;
    height: 400px;
}

.blog-img {
    background-color: white;
    box-sizing: border-box;
    width: 90%;
    height: 90%;
    padding: 6%;
    border-width: 1px;
    border-style: dotted;
}

.input-container {
    margin: 100px;
    display: flex;
    flex-direction: column;
}


.icon-1 {
    color: red;
}

.icon-2 {
    color: khaki;
}

.icon-3 {
    color: #1ECFD7;
}

.icon-4 {
    color: aquamarine;
}

.icon-5 {
    color: goldenrod;
}




